<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="amuniz.com.honeygogroceryshoppping">

    <uses-feature android:name="android.hardware.camera2"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PantryListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PantryItemPagerActivity"
            android:parentActivityName=".PantryListActivity">
        </activity>
        <activity android:name=".AddPantryItemActivity"
            android:parentActivityName=".PantryListActivity">
        </activity>
        <activity android:name=".PantryItemLocationActivity"
            android:parentActivityName=".PantryItemPagerActivity">
        </activity>
        <activity android:name=".EditStoresActivity"
            android:parentActivityName=".PantryItemLocationActivity">
        </activity>
        <activity android:name=".AddStoreActivity"
            android:parentActivityName=".EditStoresActivity">
        </activity>
        <activity android:name=".EditStoreActivity"
            android:parentActivityName=".EditStoresActivity">
        </activity>
        <activity android:name=".EditStoreGroceryAislesActivity"
            android:parentActivityName=".PantryItemLocationActivity">
        </activity>
        <activity android:name=".EditStoreGrocerySectionsActivity"
            android:parentActivityName=".PantryItemLocationActivity">
        </activity>
        <activity android:name=".EditStoreAisleActivity"
            android:parentActivityName=".EditStoreGroceryAislesActivity">
        </activity>
        <activity android:name=".AddStoreAisleActivity"
            android:parentActivityName=".EditStoreGroceryAislesActivity">
        </activity>
        <activity android:name=".EditStoreSectionActivity"
            android:parentActivityName=".EditStoreGrocerySectionsActivity">
        </activity>
        <activity android:name=".AddStoreSectionActivity"
            android:parentActivityName=".EditStoreGrocerySectionsActivity">
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="amuniz.com.honeygogroceryshoppping.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>
    </application>

</manifest>